[submodule "external/cadical/cadical"]
	path = external/cadical/cadical
	url = https://github.com/arminbiere/cadical
[submodule "external/kissat/kissat"]
	path = external/kissat/kissat
	url = https://github.com/arminbiere/kissat
[submodule "external/samplns"]
	path = external/samplns
	url = git@github.com:tubs-alg/SampLNS.git
