**/CMakeUserPresets.json
**/cmake-build*
build/
**/.vscode
**/.ipynb_checkpoints
**/.DS_Store
**/__pycache__
**/*.pyc
level1_direct_results/
level1_docker_results/
results/
instances/
instances
gurobi.lic
sammy_evaluation_package.zip
sammy_evaluation_package/
experiments/sammy-data-repo/

venv/
.idea/
